{{/*
# SPDX-FileCopyrightText: 2020 Anubhav Choudhary
# SPDX-FileCopyrightText: 2020 Nikunj Goyal
# SPDX-LicenseIdentifier: CC-BY-SA-4.0 
*/}}

{{ define "head-import" }}
{{ $style := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}

{{ define "main" }}
<section id="kHeader" class="carousel">
    <!--
    <div class="carousel-item active">
        <div class="carousel-item-content pl-4 pr-4">-->
            <div class="slide-background"></div>
            <!--
            <div class="carousel-text-overlay">
                <h1>{{ .Title }}</h1>
                <p>{{ .Description }}</p>
            </div>
            -->
        <!--
        </div>
    </div>
    --> 
</section>

<main aria-label="Content" style="margin-right: none;" id="content">

  <!--
  <section id="home-available" class="pb-5 pt-5 mt-0">
    <div class="container text-center">
      <h2>{{ i18n "home.available" }}</h2>
      <div class="d-flex justify-content-center mb-4 align-items-center">
        <a href="appstream://org.kde.elisa.desktop">
          <img alt="{{ i18n "home.linux" }}" src="/reusable-assets/tux.png" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
        </a>
        <a href="appstream://org.kde.elisa.desktop">
          <img alt="{{ i18n "home.freebsd" }}" src="/assets/img/beastie.png" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
        </a>
        <a href="https://www.microsoft.com/en-us/p/elisa/9pb5md7zh8tl">
          <img alt="{{ i18n "home.windows" }}" src="/assets/img/windows.png" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
        </a>
      </div>
      <a href="/download" class="learn-more">{{ i18n "home.download.other" }}</a>
    </div>
  </section>
  -->
  
    <div class="container">
        <h1>{{ .Title }}</h1>
        <h2>{{ .Description }}</h2>
        <p style="max-width:none;">{{ i18n "home.description" | markdownify }}</p>
    
        <h3>[Video goes here]</h3>

        <!-- ACTIVITIES BEGIN -->
        
        <div>
            <div>
            <h2>{{ i18n "home.activities" }}</h2>
            <p>{{ i18n "home.activities.description" | markdownify }}</p>
        </div>
        <!--
        <div>
            <picture class="img-fluid">
            <source srcset="/assets/img/sort_options_dark.png" media="(prefers-color-scheme: dark)">
            <img src="/assets/img/sort_options.png">
            </picture>
        </div>
        -->
        
        <!-- FIRESIDES -->
        <div>
            <h3>{{ i18n "home.activities.fireside" }}</h3>
        </div>
        
        <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.1" }}</h2>
                <p>{{ i18n "home.activities.fireside.1.description" | markdownify }}</p>
                <p><a href='https://conf.kde.org/e/KDE25th'>{{ i18n "home.activities.fireside.registration" }}</a></p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/board_300.png" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/board_300.png" height="200" alt="{{ i18n "home.activities.fireside.1.alt" }}">
            </picture>
        </div>        

        <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.2" }}</h2>
                <p>{{ i18n "home.activities.fireside.2.description" | markdownify }}</p>
                <p><a href='https://conf.kde.org/e/KDE25th'>{{ i18n "home.activities.fireside.registration" }}</a></p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/jeri_300.jpg" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/jeri_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.2.alt" }}">
            </picture>
        </div>
        
        
        <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.3" }}</h2>
                <p>{{ i18n "home.activities.fireside.3.description" | markdownify }}</p>
                <p><a href='https://conf.kde.org/e/KDE25th'>{{ i18n "home.activities.fireside.registration" }}</a></p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/massimo_300.jpg" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/massimo_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.3.alt" }}">
            </picture>
        </div>
 
        <div class="feature mt-4">
            <div>
                <h4>{{ i18n "home.activities.fireside.4" }}</h2>
                <p>{{ i18n "home.activities.fireside.4.description" | markdownify }}</p>
                <p><a href='https://conf.kde.org/e/KDE25th'>{{ i18n "home.activities.fireside.registration" }}</a></p>
            </div>
            <picture class="img-fluid">
                <source srcset="/assets/img/speakers/matthias_300.jpg" media="(prefers-color-scheme: dark)">
                <img src="/assets/img/speakers/matthias_300.jpg" height="200" alt="{{ i18n "home.activities.fireside.4.alt" }}">
            </picture>
        </div>
        
        <!-- MEETUPS -->
    
        <div>
            <h3>{{ i18n "home.activities.meetups" }}</h3>
            <p>{{ i18n "home.activities.meetups.description" | markdownify }}</p>
        </div>

        <!-- ACTIVITIES END -->
        
    <!--
    <div class="feature mt-4">
      <div>
        <h2>{{ i18n "home.features.playlist" }}</h2>
        <p>{{ i18n "home.features.playlist.description" }}</p>
      </div>
      <div>
        <picture class="img-fluid">
          <source srcset="/assets/img/playlist_dark.png" media="(prefers-color-scheme: dark)">
          <img src="/assets/img/playlist.png" alt="{{ i18n "home.features.playlist.alt" }}">
        </picture>
      </div>
    </div>

    <div class="feature mt-4">
      <div>
        <h2>{{ i18n "home.features.party" }}</h2>
        <p>{{ i18n "home.features.party.description" }}</p>
      </div>
      <div class="party">
        <picture>
          <source srcset="/assets/img/party_dark.png" media="(prefers-color-scheme: dark)">
          <img  alt="{{ i18n "home.features.party.alt" }}" src="/assets/img/party.png" class="img-fluid">
        </picture>
      </div>
    </div>
    <div class="dark-light mt-4">
      <h2>{{ i18n "home.features.videos" }}</h2>
      <p>{{ i18n "home.features.videos.description" | markdownify }}</p>
      <img src="/assets/img/dark_white.png" class="img-fluid" width="80%" alt="{{ i18n "home.features.dark.alt" }}">
    </div>
  </div>

  <section class="background-blue">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/baloo.svg" alt="" width="128" height="128"/>
          <h2>{{ i18n "home.features.indexing" }}</h2>
          <p>{{ i18n "home.features.indexing.description" | markdownify }}</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/kirigami.svg" width="128" height="128" alt=""/>
          <h2>{{ i18n "home.features.kirigami" }}</h2>
          <p>{{ i18n "home.features.kirigami.description" | markdownify }}</p>
        </div>
        <div class="col-12 col-sm-4 d-flex flex-column align-items-center text-center">
          <img src="/assets/img/osi.svg" width="128" height="128" alt=""/>
          <h2>{{ i18n "home.features.osi" }}</h2>
          <p>{{ i18n "home.features.osi.description" | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>
  -->
</main>
{{ end }}
